#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.calendar {
  border-collapse: collapse;
}

.calendar > td, th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.calendar > th {
  font-weight: bold;
  background-color: #E6E6E6;
}